* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f1e1e;
    max-width: 475px;
    border-radius: 2rem;
    padding: 1rem;
}

.calculator #button {
    color: white;
    background-color: #414141;
    width: 100px;
    margin: 5px;
    text-align: center;
    font-size: 40px;
    padding: 1rem;
    border-radius: 1rem;
    height: 6rem;
    line-height: 4.5rem;
}

#output {
    background-color: #7e7e7e;
    color: white;
    width: 100px;
    margin: 5px;
    text-align: right;
    font-size: 40px;
    padding: 1rem;
    border-radius: 1rem;
    height: 6rem;
    line-height: 4.5rem;
    flex-basis: 320px;
}

#output placeholder {
    color: #585858;
}

#operator {
    background-color: #d46904;
    color: rgb(32, 32, 32);
    width: 100px;
    margin: 5px;
    text-align: center;
    font-size: 40px;
    padding: 1rem;
    border-radius: 1rem;
    height: 6rem;
    line-height: 4.5rem;
}